BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 127

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
InsertBraces: true

IndentCaseLabels: true
IndentExternBlock: NoIndent
IndentPPDirectives: BeforeHash
NamespaceIndentation: All
IndentAccessModifiers: false
AccessModifierOffset: -4

AlignConsecutiveAssignments: Consecutive
AlignEscapedNewlines: LeftWithLastLine
AlignTrailingComments: Leave

BreakConstructorInitializers: AfterColon

PackConstructorInitializers: Never

SpaceAfterCStyleCast: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterPlacementOperator: false
  AfterControlStatements: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Never
